@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --voice-soprano: #A9FF90;
  --voice-alto: #9EE989;
  --voice-tenor: #8BDAE7;
  --voice-bass: #99BBDD;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
